<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello,zhangsan

<span>展示学生信息</span>
学号:1,001
姓名:lisi
生日:2020-1-10
生日:9:50:08
生日:2020-1-10 9:50:08

<span>展示学生信息列表</span>
<table>
    <tr>
        <td>学号</td>
        <td>姓名</td>
        <td>学生</td>
    </tr>
        <tr>
            <td>1,001</td>
            <td>lisi</td>
            <td>2020-1-10 9:50:08</td>
        </tr>
        <tr>
            <td>1,002</td>
            <td>wangwu</td>
            <td>2020-1-10 9:50:08</td>
        </tr>

    <sapn>条件判断</sapn>
    青年

    此信息为空
</table>
</body>
</html>